
.pager span.current {
  border: red;
  border-radius: 5px;
  font-weight: bold;
  color: red;
}

.pager span {
  border-radius: 5px;
  border: #a6a6a8 1px solid;
  padding: 5px 14px;
  margin: 0 3px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.pager span:hover { background-color: #ddd; }

.pager span.current:hover {
  background-color: #fff;
  cursor: default;
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 5px 10px;
  background-color: #EEEEEE;
  border: 0px solid #DDDDDD;
}
